@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');

/*@media (max-width: 767px) {
  .pc {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}*/

header {
  background: #ff6a00;
  background: linear-gradient(
    90deg,
    rgba(255, 106, 0, 1) 0%,
    rgba(255, 77, 0, 1) 50%,
    rgba(255, 47, 0, 1) 100%
  );
  color: white;
  padding: 10px;
  width: 100%;
  margin-bottom: 1%;
  text-shadow: #ffffff 1px 0 10px;
  font-family: Nosifer;
}

body {
  background-color: rgb(29, 29, 29);
}

.list-group-item {
  background-color: rgb(22, 22, 22);
  color: white;
  border-color: #ff6a00;
}

.card {
  background-color: rgb(32, 32, 32);
  color: white;
  border-color: #ff6a00;
  box-shadow: 0 -3px 10px rgba(255, 117, 24, 0.3);
  position: relative;
  padding: 0;
  z-index: 0;
}

.no-sweets{
  background-color: rgb(15, 15, 15);
}

.spiderweb-card {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 110px;
  height: auto;
  opacity: 0.3;
  transform: scale(-1, -1);
  z-index: 0;
}

.card-body {
  position: relative;
  z-index: 1; 
}

.img-fluid {
  max-width: 32px;
  height: auto;
}

.btn {
  background-color: #ff6a00;
  border-color: #ff4e18;
  color: white;
  font-family: Nosifer;
}

.btn:hover {
  background-color: #ff4e18;
  color: white;
  box-shadow:0 8px 16px 0 rgba(17, 17, 17, 0.6);
}

.btn:disabled {
  background-color: rgb(153, 61, 0);
  border-color: rgb(110, 50, 0);
  color: white;
}

footer {
  border-top: 2px solid #FF7518;
  box-shadow: 0 -3px 10px rgba(255, 117, 24, 0.3);
  padding: 1rem 0;
  color: #ffebcd;
  text-align: center;
  width: 100%;
  font-family: Nosifer;
}

footer a {
  color: #ff8c2e;
  text-decoration:none;
  text-shadow: #FF7518 1px 0 10px;
}

a:hover {
  color: #FF7518;
}